// Colors
$mainColor: rgb(255, 140, 0);
$secondColor: rgb(241, 241, 241);
$navbarColor: rgb(255, 111, 0);
$buttonCallColor: rgb(64, 0, 255);
$buttonCallColorHover: rgb(174, 0, 255);
$selectionBackground: rgb(255, 81, 0);

// Fonts
$textFontFamily: "Open Sans", sans-serif;
$textFontWeight: 300;

// Sizes
$logo: 3rem;
$icon: 1.5rem;