@import "../../../styles/Variables.scss";

.banner-container{
    justify-content: space-between;
    margin-bottom: 5rem;
    align-items: end;

    .banner-info-container{
        width: 100%;
        margin: 0 0 5% 5%;
        flex-grow: 1;

        h1 {
            color: red;
            text-transform: uppercase;
            font-size: 3rem;
        }
        
        h2{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        input[type='button']{
            width: 150px;
            height: 50px;
            background-color: $buttonCallColor;
            color: $secondColor;
            border: none;
            border-radius: 10px;
            text-transform: uppercase;
    
            &:hover{
                cursor: pointer;
                background-color: $buttonCallColorHover;
            }
        }
    }

    .banner-image-container{
        width: 100%;
        margin-right: 5%;
        flex-grow: 2;
    }


    @media (max-width: 1025px){
        display: block;
        .banner-info-container{
            align-items: center;
            justify-content: center;
            margin: 5rem 0;

            h1{
                font-size: 2rem;
            }
            h2{
                font-size: 1rem;
            }
            input[type='button']{
                font-size: 0.7rem;
            }
            .titulo-logo{
                flex-direction: column;
            }
        }

        .banner-image-container{
            text-align: center;
            img{
                width: 70vw !important;
                height: 60vh !important;
            }
        }
    }
    
    @media (max-width: 480px){
        display: block;

        .banner-info-container{
            align-items: center;
            justify-content: center;
            margin: 5rem 0;

            h1{
                font-size: 2rem;
            }
            h2{
                font-size: 1rem;
            }
            input[type='button']{
                font-size: 0.7rem;
            }
            .titulo-logo{
                flex-direction: column;
            }
        }

        .banner-image-container{
            img{
                height: 60vh !important;
                width: 100vw !important;
            }
        }
    }
}

